@font-face {
    font-family: logo-font;
    src: url("/fonts/aAsianNinja.ttf");
}

/* resets */
body,
p {
    margin: 0;
    padding: 0;
}

body .background {
    background-image: url("/img/main-background.jpg");
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .4;
}

.container {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
}

.left-side {
    background-image: url("/img/left-side-background.png");
    background-position: 20%;
    flex-grow: 1;
    min-width: 220px;
}

.left-side-container {
    margin-top: 35%;
    width: 100%;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
}

.left-side-container img {
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: logo-font, sans-serif;
    font-size: 1.3rem;
}

.logo div {
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: white;
    flex-grow: 3;
    font-family: sans-serif;
    line-height: 1.3rem;
}

.main-content .head {
    padding: 30px;
    background-color: rgb(229, 226, 226);
}

.head p + p {
    margin-top: 15px;
}

.form-container {
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
} 

label , input {
    display: flex;
    flex-direction: column;
}