@font-face {
    font-family: logo-font;
    src: url("/fonts/aAsianNinja.ttf");
}

:root {
    --main-color: #fd8317;
}

/* resets */
body,
p {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* resets */

body .background {
    background-image: url("/img/main-background.jpg");
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: .4;
}

.container {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
}

.left-side {
    background-image: url("/img/left-side-background-1.jpg");
    background-position: 40%;
    flex-grow: 1;
    min-width: 220px;
}

.left-side-container {
    margin-top: 35%;
    width: 100%;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
}

.left-side-container img {
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: logo-font, sans-serif;
    font-size: 1.3rem;
}

.logo div {
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: rgb(247 242 242);
    flex-grow: 3;
    font-family: sans-serif;
    line-height: 1.3rem;
}

.main-content .head {
    padding: 30px;
}

.head p + p {
    margin-top: 15px;
}

fieldset{
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
}

label , input {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.button-section > button,
.button-section > p {
    margin-top: 30px;
    margin-left: 30px;
}


button {
    padding: 10px 60px;
    background-color: var(--main-color);
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:visited {
    color: blue;
}